In [1]:
# write.table(red.neuronal$weights[[1]][[1]],"clipboard", sep=",", row.names=FALSE)
# Comando para copiar desde el porta papel
"V1","V2"
11.1392260245541,5.63092946595401
0.574745449575871,-2.22172422958381
1.26544314680603,8.92677621325984
-2.73232077335164,-1.87541149838109
-2.83059023464991,-14.192277917949

(-2.83059023464991, -14.192277917949)

In [2]:
import math
import numpy as np
import seaborn as sns

In [3]:
W1 = np.array([[11.1392260245541,5.63092946595401],
                [0.574745449575871,-2.22172422958381],
                [1.26544314680603,8.92677621325984],
                [-2.73232077335164,-1.87541149838109],
                [-2.83059023464991,-14.192277917949]])

In [4]:
W2 = np.array([[0.811446207795352,-1.08515730768611,-143.743396829393],
                [0.222004536300692,-2.00394851123848,260.030315249046],
                [-2.67566693775562,4.22386268851247,-98.4913163306113]])

In [5]:
W3 = np.array([[1.20308096196451,-1.08100154537369,-0.135208073830395],
                [-1.72444633567608,1.61136469297143,1.28877716394054],
                [0.0210701855998521,-0.117571375864246,1.04605562532198],
                [0.0599685838907911,0.907893037961063,-0.865416251190173]])

In [6]:
def f_act(X):
    activada = np.array([1/(1 + math.exp(-x)) for x in X])
    return activada

In [7]:
# Carga de datos
iris = sns.load_dataset('iris')
iris

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [8]:
xcols = ['sepal_length', 'sepal_width', 'petal_length', 'petal_width']

In [9]:
especie = iris['species'].unique()
especie

array(['setosa', 'versicolor', 'virginica'], dtype=object)

In [10]:
X = iris[xcols].copy()
X.insert(0, 'bias', 1)

In [11]:
X

     bias  sepal_length  sepal_width  petal_length  petal_width
0       1           5.1          3.5           1.4          0.2
1       1           4.9          3.0           1.4          0.2
2       1           4.7          3.2           1.3          0.2
3       1           4.6          3.1           1.5          0.2
4       1           5.0          3.6           1.4          0.2
..    ...           ...          ...           ...          ...
145     1           6.7          3.0           5.2          2.3
146     1           6.3          2.5           5.0          1.9
147     1           6.5          3.0           5.2          2.0
148     1           6.2          3.4           5.4          2.3
149     1           5.9          3.0           5.1          1.8

[150 rows x 5 columns]

In [12]:
prediccion = []
for index, fila in X.iterrows():
    capa1 = f_act(fila.dot(W1))
    capa1 = np.insert(capa1, 0, 1)
    capa2 = f_act(capa1.dot(W2))
    capa2 = np.insert(capa2, 0, 1)
    salida = f_act(capa2.dot(W3))
    prediccion.append(especie[np.argmax(salida)])

In [13]:
iris['Prediccion'] = prediccion
iris.head()

   sepal_length  sepal_width  petal_length  petal_width species Prediccion
0           5.1          3.5           1.4          0.2  setosa     setosa
1           4.9          3.0           1.4          0.2  setosa     setosa
2           4.7          3.2           1.3          0.2  setosa     setosa
3           4.6          3.1           1.5          0.2  setosa     setosa
4           5.0          3.6           1.4          0.2  setosa     setosa

In [14]:
iris

,sepal_length,sepal_width,petal_length,petal_width,species,Prediccion
0,5.1,3.5,1.4,0.2,setosa,setosa
1,4.9,3.0,1.4,0.2,setosa,setosa
2,4.7,3.2,1.3,0.2,setosa,setosa
3,4.6,3.1,1.5,0.2,setosa,setosa
4,5.0,3.6,1.4,0.2,setosa,setosa
...,...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,virginica,virginica
146,6.3,2.5,5.0,1.9,virginica,virginica
147,6.5,3.0,5.2,2.0,virginica,virginica
148,6.2,3.4,5.4,2.3,virginica,virginica
149,5.9,3.0,5.1,1.8,virginica,virginica

In [15]:
iris.iloc[73:78] # para mandar indices, de donde a donde quiero ver la informacion

,sepal_length,sepal_width,petal_length,petal_width,species,Prediccion
73,6.1,2.8,4.7,1.2,versicolor,versicolor
74,6.4,2.9,4.3,1.3,versicolor,versicolor
75,6.6,3.0,4.4,1.4,versicolor,versicolor
76,6.8,2.8,4.8,1.4,versicolor,versicolor
77,6.7,3.0,5.0,1.7,versicolor,versicolor

In [16]:
errores = iris[iris['species'] != iris['prediccion']]
errores

KeyError: 'prediccion'

In [17]:
eficiencia = (1 - len(errores)/len(iris))*100
eficiencia

NameError: name 'errores' is not defined